*.png -text -diff -merge
*.jpg -text -diff -merge
*.jpeg -text -diff -merge
*.webp -text -diff -merge
*.gif -text -diff -merge
*.ico -text -diff -merge
*.mp3 -text -diff -merge
*.wav -text -diff -merge
*.m4a -text -diff -merge
*.ttf -text -diff -merge
*.otf -text -diff -merge
